/* nunito-300 - cyrillic_latin */
@font-face {
  font-family: 'Nunito';
  font-weight: 300;
  font-style: normal;

  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  src: url('/assets/fonts/Nunito/nunito-v32-cyrillic_latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-regular - cyrillic_latin */
@font-face {
  font-family: 'Nunito';
  font-weight: 400;
  font-style: normal;

  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  src: url('/assets/fonts/Nunito/nunito-v32-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-500 - cyrillic_latin */
@font-face {
  font-family: 'Nunito';
  font-weight: 500;
  font-style: normal;

  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  src: url('/assets/fonts/Nunito/nunito-v32-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-700 - cyrillic_latin */
@font-face {
  font-family: 'Nunito';
  font-weight: 700;
  font-style: normal;

  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  src: url('/assets/fonts/Nunito/nunito-v32-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
