@import "tailwindcss";

/* Remove tailwind colors. Use radix colors instead */
@theme {
  --color-*: initial;
}

@import "@radix-ui/themes/styles.css" layer(radix-themes);
@import "radix-themes-tw/theme.css";
@import "./font-imports.css";


@import './tailwind-overrides/index.css';
@import "./radix-overrides/index.css";
@import './components';
