@import "tailwindcss";

/* Remove tailwind colors. Use radix colors instead */
@theme {
  --color-*: initial;
}

@import "@radix-ui/themes/styles.css" layer(radix-themes);
@import "radix-themes-tw/theme.css";
@import "./font-imports.css";


@import './tailwind';
@import "./radix-overrides";
@import './components';

:root {
  --safe-area-inset-top: env(safe-area-inset-top, 0px);
  --safe-area-inset-right: env(safe-area-inset-right, 0px);
  --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
  --safe-area-inset-left: env(safe-area-inset-left, 0px);
}

.safeArea {
  padding-top: env(safe-area-inset-top, 0px);
  padding-right: env(safe-area-inset-right, 0px);
  padding-bottom: env(safe-area-inset-bottom, 0px);
  padding-left: env(safe-area-inset-left, 0px);
}
