@utility container {
  margin-inline: auto;
}

@utility h-fill {
  height: calc(100vh - var(--safe-area-inset-top) - var(--safe-area-inset-bottom));
  height: calc(100dvh - var(--safe-area-inset-top) - var(--safe-area-inset-bottom));
}
