.radix-themes {
	--default-font-family: "Nunito", -apple-system, BlinkMacSystemFont, 'Segoe UI (Custom)', Roboto,
    'Helvetica Neue', 'Open Sans (Custom)', system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';

  --quote-font-family: "Nunito", sans-serif;
}
