.container {
  container-type: inline-size;
  position: relative;
  overflow: hidden;
}

.emoji {
  font-size: 1rem;
}

@supports (font-size: 1cqw) {
  .emoji {
    font-size: 75cqw;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--gray-a6);
}
