.ArrowImage {
  will-change: transform;

  position: absolute;
  right: calc(100% - 18px);
  bottom: calc(100% + 20px);

  width: 8em;
  max-width: fit-content;

  animation: arrowHint 3.4s ease-in-out infinite;
  animation-delay: 2s;
}

@keyframes arrowHint {
  0% {
    transform: translateY(0) rotate(0);
  }
  6% {
    transform: translateY(-5px) rotate(0);
  }
  12% {
    transform: translateY(2px) rotate(0);
  }
  18% {
    transform: translateY(-3px) rotate(0);
  }
  24% {
    transform: translateY(0) rotate(0);
  }

  24% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(0) rotate(0);
  }

  56% {
    transform: translateY(0) rotate(-2deg);
  }
  62% {
    transform: translateY(0) rotate(1.5deg);
  }
  68% {
    transform: translateY(0) rotate(-1deg);
  }
  74% {
    transform: translateY(0) rotate(0);
  }

  74% {
    transform: translateY(0) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
